#mainText {
	margin: 0 auto;
	font-size: 20px;
	border: 1px solid blue;
	width: 600px;
	text-align: center;
}

#countdown {
	font-size: 20px;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

#startButton {
	background-color: red;
	font-size: 30px;
	text-align: center;
	width: 100px;
	margin: 0 auto;
}

main {
	width: 600px;
	margin: 0px auto;
	border: 1px solid red;

}

main p {
	text-align: center;
	font-size: 25px;
	margin: 0px auto;

}

p.question {
	text-align: center;
	font-size: 25px;
	margin: 0px auto;

}

main li {
	text-align: center;
	font-size: 30px;
}

.answer {

}